<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.cq.BJUTHelperXamarin" android:versionCode="1" android:versionName="1.7.1">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="23" />
	<!-- Push service 运行需要的权限 -->
	<!-- 富媒体需要声明的权限 -->
	<!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名-->
	<permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.cq.BJUTHelperXamarin" android:protectionLevel="normal"></permission>
	<application android:label="工大助手" android:icon="@drawable/icon" android:theme="@style/MyTheme">
		<!-- push service start -->
		<!-- 用于接收系统消息以保证PushService正常运行 -->
		<receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" android:process=":bdservice_v1">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
				<action android:name="com.baidu.android.pushservice.action.media.CLICK" />
				<!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
				<action android:name="android.intent.action.MEDIA_MOUNTED" />
				<action android:name="android.intent.action.USER_PRESENT" />
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
		</receiver>
		<!-- Push服务接收客户端发送的各种请求-->
		<receiver android:name="com.baidu.android.pushservice.RegistrationReceiver" android:process=":bdservice_v1">
			<intent-filter>
				<action android:name="com.baidu.android.pushservice.action.METHOD" />
				<action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<data android:scheme="package" />
			</intent-filter>
		</receiver>
		<service android:name="com.baidu.android.pushservice.PushService" android:exported="true" android:process=":bdservice_v1">
			<intent-filter>
				<action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
			</intent-filter>
		</service>
		<!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
		<service android:name="com.baidu.android.pushservice.CommandService" android:exported="true" />
		<!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
		<provider android:name="com.baidu.android.pushservice.PushInfoProvider" android:authorities="com.cq.BJUTHelperXamarin.bdpush" android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.cq.BJUTHelperXamarin" android:protectionLevel="signature" android:exported="true" />
		<!-- push结束 -->
		<!-- 此处Receiver名字修改为当前包名路径 -->
		<receiver android:name="bjutduhelperxamarin.droid.services.NotifyMessageReceiver">
			<intent-filter>
				<!-- 接收push消息 -->
				<action android:name="com.baidu.android.pushservice.action.MESSAGE" />
				<!-- 接收bind、setTags等method的返回结果-->
				<action android:name="com.baidu.android.pushservice.action.RECEIVE" />
				<!-- 接收通知点击事件，和通知自定义内容 -->
				<action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
			</intent-filter>
		</receiver>
	</application>
</manifest>