<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.2</string>
	<key>CFBundleDisplayName</key>
	<string>工大助手</string>
	<key>CFBundleIdentifier</key>
	<string>com.bjuthelper</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default-Portrait@2x.png</string>
		<string>Default-Portrait.png</string>
		<string>Default-568h@2x.png</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.7.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>gdjwgl.cjw1115.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
			<key>bjut.edu.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
			<key>172.24.39.253</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
	<key>UIMainStoryboardFile~ipad</key>
	<string>LaunchScreen</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/fontawesome-webfont.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>“工大助手”需要获取您的相册权限</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
</dict>
</plist>
